<nav class="navbar" th:fragment="navbar">
    <a href="/"><img src="/img/icon/nav/home.svg" alt="Navigate to homepage" /></a>
    <a href="/calendar"><img src="/img/icon/nav/calendar.svg" alt="View upcoming events" /></a>
    <div>
        <input type="checkbox" name="toggle-add-menu" id="nav-toggle-add-menu">
        <div id="toggleable-add-menu">
            <a onclick="initiateQRCodeInterface();"><img src="/img/icon/nav/qr-code.svg" alt="" />Scan</a>
            <a onclick="addContactThroughCode();"><img src="/img/icon/nav/code-input.svg" alt="" />Code</a>
            <a href="/contact/add-manually"><img src="/img/icon/nav/manual-entry.svg" alt="" />Manual entry</a>
        </div>
        <div class="nav-button-large">+</div>
    </div>
    <a onclick="showSearch();"><img src="/img/icon/nav/search.svg" alt="Search for contact" /></a>
    <a href="/profile/me"><img src="/img/icon/nav/default-profile.png" alt="View my profile" /></a>
    <div id="popup-div" class="hidden"></div>
    <div id="screen-popup-div"></div>
</nav>