<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="~{core/head}"></head>
<head>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/addRemoveFavourite.js" defer></script>
</head>
<body>
<div th:replace="~{core/navbar}"></div>
<div class="profile-page" th:object="${userProfile}">
  <!--    <div th:if="${currUserIsViewingOwnProfile}"><div th:replace="~{profile/update :: update}"></div></div>-->

  <div class="profile-container" th:if="${currUserIsViewingOwnProfile || (!currUserIsViewingOwnProfile && userInContacts)}" >

    <div class="profile-fields">
      <img class="profile-picture-big" th:src="${userProfile.profilePhotoUrl != null ? userProfile.profilePhotoUrl : '/img/icon/default-profile.png'}">
      <div class="profile-field">
        <label for="firstName">First name</label>
        <div id = "firstName" th:text="*{firstName}"></div>
      </div>
      <div th:if="${userProfile.middleName != null && userProfile.middleName != ''}" class="profile-field">
        <label for="middleName">Middle Name</label>
        <div id = "middleName" th:text="*{middleName}"></div>
      </div>
      <div class="profile-field">
        <label for="lastName">Last name</label>
        <div id = "lastName" th:text="*{lastName}"></div>
      </div>
      <div th:if="${userProfile.preferredName != null && userProfile.preferredName != ''}" class="profile-field">
        <label for="preferredName">Preferred name</label>
        <div id = "preferredName" th:text="*{preferredName}"></div>
      </div>
      <div th:if="${userProfile != null && userProfile.email != null && userProfile.email != ''}" class="profile-field">
        <label for="email">Email</label>
        <a class = "field-link" id="email"
           th:href="'mailto:' + ${userProfile.email} + '?body=%0D%0A%0D%0A%0D%0AEmail sent from Networks!'"
           th:text="${userProfile.email}">
        </a>
      </div>

      <div th:if="${userProfile.phoneNumber != null && userProfile.phoneNumber != ''}" class="profile-field">
        <label for="phoneNumber">Phone number</label>
        <a class ="field-link" id="phoneNumber"
           th:href="'tel:'+'*{phoneNumber}'"
           th:text="*{phoneNumber}">
        </a>
      </div>

      <div th:if="${userProfile.birthday != null && userProfile.birthday != ''}" class="profile-field">
        <label for="birthday">Birthday</label>
        <div id = "birthday" th:text="*{birthday}"></div>
        <form method="POST" action="/event/create/recur">
          <input type="hidden" name="title" th:value="|*{firstName}'s birthday!|">
          <input type="hidden" name="description" th:value="|*{firstName} *{lastName}'s birthday!|">
          <input type="hidden" name="date" th:value="*{birthday}">
          <input type="hidden" name="startTime" value="00:00:01">
          <input type="hidden" name="endTime" value="23:59:59">

          <input type="hidden" name="recurCount" value=15>
          <button type="submit" class="submit-btn-square" name="submit">add to calendar</button>
        </form>
      </div>

      <p th:if="${!customFields.isEmpty()}">Custom Fields</p>
      <div th:replace="~{profile/customField/show :: show}"></div>

      <p th:if="${!userLinks.isEmpty()}">Links</p>
      <div th:replace="~{profile/userLink/show :: show}"></div>
    </div>

    <a th:if="${currUserIsViewingOwnProfile}" th:href="@{/profile/update}" class="submit-btn">Edit Profile</a>
  </div>

  <div th:if="${!userInContacts && !currUserIsViewingOwnProfile}" class="profile-container">
    <img class="profile-picture-big" th:src="${userProfile.profilePhotoUrl != null ? userProfile.profilePhotoUrl : '/img/icon/default-profile.png'}">
    <div class="profile-field">
      <label for="firstName2">First name</label>
      <div id = "firstName2" th:text="*{firstName}"></div>
    </div>
    <a th:href="@{/contact/add/{id}(id=${userProfile.userId})}" class="submit-btn">Add contact</a>
  </div>

</div>


<div th:if="${!currUserIsViewingOwnProfile && userInContacts}" class="profile-favourite-icon" th:data-contact-id="${userProfile.userId}">
  <i th:if="${isFavouriteContact}" class="fa-solid fa-star"></i>
  <i th:if="${!isFavouriteContact}" class="fa-regular fa-star"></i>
</div>
</body>
</html>

