
  <form class="update-profile-container" th:action="@{/profile/update}" th:object="${userProfile}" method="post" th:fragment="update">
    <div class="profile-fields">
      <div class="profile-field">
        <label for="firstName">First name</label>
        <input id="firstName" type="text" th:field="*{firstName}" placeholder="First name"/>
      </div>
      <div class="profile-field">
        <label for="middleName">Middle name</label>
        <input id="middleName" type="text" th:field="*{middleName}" />
      </div>
      <div class="profile-field">
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" th:field="*{lastName}" />
      </div>
      <div class="profile-field">
        <label for="preferredName">Preferred name</label>
        <input id="preferredName" type="text" th:field="*{preferredName}" />
      </div>
    </div>
    <button type="submit" class="submit-btn">Update profile</button>
</form>

