<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<head>
  <link rel="stylesheet" href="/css/profile.css">
  <script src="/js/photoUpload.js" defer></script>
</head>
<body>
<div th:replace="~{core/navbar}"></div>

  <form class="update-profile-container" th:action="@{/profile/update}" th:object="${userProfile}" method="post" th:fragment="update" enctype="multipart/form-data">
    <div class="profile-fields">
      <img class="profile-picture-big" th:src="${userProfile.profilePhotoUrl != null ? userProfile.profilePhotoUrl : '/img/icon/default-profile.png'}">
      <div class="profile-field">
        <label for="firstName">First name</label>
        <input id="firstName" type="text" th:field="*{firstName}" placeholder="First name" required/>
      </div>
      <div class="profile-field">
        <label for="middleName">Middle name</label>
        <input id="middleName" type="text" th:field="*{middleName}" />
      </div>
      <div class="profile-field">
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" th:field="*{lastName}" required />
      </div>
      <div class="profile-field">
        <label for="preferredName">Preferred name</label>
        <input id="preferredName" type="text" th:field="*{preferredName}" />
      </div>
      <div class="profile-field">
        <label for="email">email</label>
        <input id="email" type="email" th:field="*{email}" />
      </div>
      <div class="profile-field-photo-container">
        <div class="profile-field-photo">
          <div class="profile-field-photo-label">Profile Photo</div>
          <div class="profile-field-photo-input">
            <label for="profilePhoto" class="profile-field-photo-select">Select File</label>
            <input
                type="file"
                id="profilePhoto"
                name="profilePhoto"
                class="hidden"
                placeholder="Upload new photo"
              />
            <span class="photo-tick hidden"><i class="fa-solid fa-circle-check"></i></span>
          </div>
        </div>
      </div>

      <p th:if="${!customFields.isEmpty()}">Custom fields</p>
      <div th:replace="~{profile/customField/show :: show}"></div>

      <p th:if="${!userLinks.isEmpty()}">Links</p>
      <div th:replace="~{profile/userLink/show :: show}"></div>
    </div>

    <button type="submit" class="submit-btn">Update profile</button>
    <p>Add Custom </p>
    <div class="add-custom-btns" style="display: flex;">
      <a href="/customField/add" class="submit-btn">Fields</a>
      <a href="/userLink/add" class="submit-btn">Links</a>
    </div>
  </form>
</body>
</html>
