<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<body>
<a th:href="@{'/calendar/'+ ${lastMonth}}">last Month</a>
<h3 th:text = "${month}"></h3>
<a th:href="@{'/calendar/'+ ${nextMonth}}">next Month</a>
<br>
<th:block th:each="i: ${#numbers.sequence(1, startDay)}">
    <div class="square grid"></div>
</th:block>

<th:block th:each="day: ${#numbers.sequence(1, days)}">
    <div class="square grid" th:text="${day}"></div>
</th:block>

<div th:replace="~{core/navbar}"></div>
</body>
</html>