<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<link rel="stylesheet" href="/css/calendar.css">
<body class="calendar-body">
<div th:replace="~{core/navbar}"></div>
<div class="calendar-page">
    <div class="calendar-header">
        <a th:href="@{'/calendar/'+ ${lastMonth}}" class="submit-btn-square month-btn">prev</a>
        <div class = "month-title">
            <h1 class="year" th:text="${year}"></h1>
            <h2 class="month" th:text="${month}"></h2>
        </div>
        <a th:href="@{'/calendar/'+ ${nextMonth}}" class="submit-btn-square month-btn">next</a>
    </div>



<div class="calendar-container">
    <div class ="day-labels">
        <div class="day-label">Mon</div>
        <div class="day-label">Tue</div>
        <div class="day-label">Wed</div>
        <div class="day-label">Thu</div>
        <div class="day-label">Fri</div>
        <div class="day-label">Sat</div>
        <div class="day-label">Sun</div>
    </div>

    <div class="days">
        <a th:href="${day.getURL()}" th:each="day: ${days}"
           th:classappend="${day.isGreyedOut()} ? 'dark' : ''"
           class="square grid day">
                <div th:replace="~{calendar/dayElement}"></div>
        </a>
    </div>
</div>

<a href="/event/create">
<button class="nav-button-large add-event-button navbar">
    +
</button>
</a>


</div>
</body>
</html>