<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<link rel="stylesheet" href="/css/calendar.css">
<body>
<div th:replace="~{core/navbar}"></div>
<div class="calendar-page">
    <div class="calendar-header">
        <a th:href="@{'/calendar/'+ ${lastMonth}}"><button class = "month-buttons">last Month</button> </a>
        <h3 th:text = "${month} +'  ' + ${year}" class = "month-buttons"></h3>
        <a th:href="@{'/calendar/'+ ${nextMonth}}"><button class = "month-buttons">next Month</button> </a>
    </div>



<div class="calendar-container">
    <div class ="day-labels">
        <div class="square day-label">Monday</div>
        <div class="square day-label">Tuesday</div>
        <div class="square day-label">Wednesday</div>
        <div class="square day-label">Thursday</div>
        <div class="square day-label">Friday</div>
        <div class="square day-label">Saturday</div>
        <div class="square day-label">Sunday</div>
    </div>

    <div class="days">
        <a th:href="${day.getURL()}" th:each="day: ${days}"
           th:classappend="${day.isGreyedOut()} ? 'dark' : ''"
           class="square grid day">
                <div th:replace="~{calendar/dayElement}"></div>
        </a>
    </div>
</div>

<a href="/event/create">
<button class="nav-button-large add-event-button navbar">
    +
</button>
</a>


</div>
</body>
</html>