
.square {
    display: grid;
    float:left;
    width: 13%;
    height: 9vh;
    margin: 0.5%;
    background-color:#666;
    overflow:hidden;
    white-space: pre-wrap;
}
.dark {
    background-color: rgba(50, 50, 50, 0.4);
}

.month-buttons {
   float: left;
   width: 33%;
   text-align: center;
   margin: auto;
}

.separate-menu{
   float: auto;
   align :center;
   margin: auto;
    padding-bottom: 2em;
}

.add-custom-btns{
    display: flex;
    flex-direction: row;
}
a{
  color: #fff;
}
.text {
  padding: 5px;
  padding-top: 5px;
}

.add-event-button {
   bottom: 20px;
   right: 20px;
   position: fixed;
   background-color: #aaa;
   border: none;              /* Remove default border */
   color: white;              /* White text */
   padding: 15px 32px;        /* Padding around the text */
   text-align: center;        /* Center the text */
   text-decoration: none;     /* Remove underline */
   display: inline-block;     /* Inline-block behavior */
   font-size: 16px;           /* Font size */
   margin: 4px 2px;           /* Margin around the button */
   cursor: pointer;          /* Pointer cursor on hover */
   border-radius: 8px;        /* Rounded corners */
   transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

.day {
    height: auto;
}

.hour-time {
    left: 5vh;
    display: grid;
    height: 9.5vh;
    margin: 0.5%;
    white-space: pre-wrap;
   margin:0;
   border-top: 0.5vh solid #4588ba;
}

.event{
   position : absolute;
   left: 15%;
   background: #666;
   margin:0;
}