
.square {
    display: grid;
    float:left;
    width: 13%;
    height: 9vh;
    margin: 0.5%;
    background-color:#666;
    overflow:hidden;
    white-space: pre-wrap;
}
.dark {
    background-color: rgba(50, 50, 50, 0.4);
}

.month-buttons {
   float: left;
   width: 33%;
   text-align: center;
   margin: auto;
}

.separate-menu{
   float: auto;
   align :center;
   margin: auto;
    padding-bottom: 2em;
}

.add-custom-btns{
    display: flex;
    flex-direction: row;
}
a{
  color: #fff;
}
.text {
  padding: 5px;
  padding-top: 5px;
}

.add-event-button {
   bottom: 20px;
   right: 20px;
   position: fixed;
   background-color: #aaa;
   border: none;              /* Remove default border */
   color: white;              /* White text */
   padding: 15px 32px;        /* Padding around the text */
   text-align: center;        /* Center the text */
   text-decoration: none;     /* Remove underline */
   display: inline-block;     /* Inline-block behavior */
   font-size: 16px;           /* Font size */
   margin: 4px 2px;           /* Margin around the button */
   cursor: pointer;          /* Pointer cursor on hover */
   border-radius: 8px;        /* Rounded corners */
   transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

.day {
    height: auto;
}

.create-event-container {
    background-color: var(--popup-background);
    min-width: 12em;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 4em;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1em;
}

.create-event-field,
.create-event-field input {
      outline: none;
      background-color: var(--page-background);
      border-radius: 0.75em;
      padding: 0.75em;
      border-color: var(--primary-accent);
      color: var(--primary-accent);
      border-style: none;
      font-size: inherit;
      width: 100%;
      box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  filter: invert(0.9);
}

.create-event-btn {
    background-color: var(--secondary-accent);
    padding: 1em 3em;
    border-radius: 1em;
    font-size: 1em;
}

.create-event-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.hidden {
    display: none;
}

.event-add-contacts {
    color: var(--secondary-accent);
}

.dropdown-input {
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 0.75em;
    background-color: var(--page-background);
    color: var(--primary-accent);
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 250px;
}

.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
    display: none;
    max-height: 9em;
    overflow-y: auto;
    background-color: var(--page-background);
    font-size: inherit;
    border-radius: 0.75em;

}

.dropdown-content p {
    padding: 1em;
    margin: 0;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display:block;
}

.event-contacts {
    margin-top: 1em;
}

.event-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}