.profile-container,
.update-profile-container {
    background-color: var(--popup-background);
    min-width: 12em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.profile-page {
    display:flex;
    justify-content:center;
}

.profile-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.profile-field input,
.profile-field div {
  outline: none;
  background-color: var(--page-background);
  border-radius: 0.75em;
  padding: 1.8em 0.75em 0.75em;
  border-color: var(--primary-accent);
  color: var(--primary-accent);
  border-style: none;
  font-size: inherit;
  transition: 0.1s;
  width: 100%;
}

.profile-field {
  position: relative;
  font-size: inherit;
  margin-bottom: 1em;
  display: flex;
  width: 100%;
}


.profile-field input:hover,
.profile-field input:focus {
  border-bottom-width: 2px;
  padding-bottom: calc(0.75em - 1px);
}

.profile-field input:hover {
  border-color: var(--secondary-accent);
}

.profile-field input:focus {
  border-color: var(--secondary-accent);
}

.profile-field label {
  position: absolute;
  top: 1.4em;
  left: 1em;
  pointer-events: none;
  transition: 0.2s;
  color: var(--primary-accent);
}

.profile-field:has(input:focus) label {
  color: var(--primary-accent);
}

.profile-field:has(input:focus) label,
.profile-field:not(:has(input:placeholder-shown)) label {
  top: 0.75em;
  font-size: 0.8em;
}

.profile-field input::placeholder {
  opacity: 0;
  transition: 0.2s;
  color: var(--primary-accent);
}

.profile-field input:focus::placeholder {
  opacity: 1;
}

.profile-field-photo-container {
    position: relative;
    font-size: inherit;
    margin-bottom: 1em;
}

.profile-field-photo {
    outline: none;
    background-color: var(--page-background);
    border-radius: 0.75em;
    padding: 0.75em 0.75em 0.75em;
    border-color: var(--primary-accent);
    color: var(--primary-accent);
    border-style: none;
    font-size: inherit;
}

.profile-field-photo-label {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.profile-field-photo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-field-photo-select {
    border: 0.5px solid var(--secondary-accent);
    padding: 0.5em;
    border-radius: 0.75em;
    font-size: 0.8em;
}

.submit-btn {
    background-color: var(--secondary-accent);
    padding: 1em 3em;
    border-radius: 1em;
    font-size: 1em;
    margin: 0.25em;
}

.hidden {
    display: none;
}