:root {
    --page-background: #1A232E;
    --primary-accent: #FFF;
    --secondary-accent: #F2D492;
    --popup-background: #202C39;
    --header-font: "Lilita One";
}

body {
    background: var(--page-background);
    color: var(--primary-accent);
    padding: 5%;
    padding-bottom: 100px;
    font-family: Roboto;
}

nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 16px;
    width: calc(100% - 60px);
    display: grid;
    grid-template-columns: 48px 48px 48px 48px 48px;
    justify-content: space-between;
    background: var(--popup-background);
    filter: drop-shadow(3px 3px 6px #00000080);
    z-index: 100;
}

nav img {
    height: 40px;
}

nav #toggleable-add-menu {
    display: none;
    position: fixed;
}

nav .nav-button-large {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: var(--secondary-accent);
    border-radius: 12px;
    margin: 0px;
    height: 40px;
    margin-block: 0px;
    height: 40px;
}

nav div input {
    opacity: 0;
    position: absolute;
    width: 48px;
    height: 40px;
    margin: 0px;
    border-radius: 12px;
    z-index: 998;
}

nav div input:checked {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

nav input:checked ~ #toggleable-add-menu {
    display: block;
    position: fixed;
    bottom: 94px;
    background: var(--popup-background);
    border-radius: 16px;
    display: grid;
    transform: translateX(-35%);
    z-index: 999;
}

#toggleable-add-menu img  {
    float: left;
}

#toggleable-add-menu a {
    color: var(--primary-accent);
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

@media(min-width: 480px) {
    nav {
        width: 420px;
        /* Would have used transform-translate, but created bug for the invisible input selector inheriting a form of absolute positioning, css is weird! */
        left: calc(50% - 220px);
    }
}

.page-header {
    color: var(--secondary-accent);
    font-family: var(--header-font);
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

.profile-container,
.update-profile-container{
    background-color: var(--popup-background);
    min-width: 12em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;

}

.profile-page{
    display:flex;
    justify-content:center;
}

.profile-fields{
    display: flex;
    flex-direction: column;

}


.profile-field input,
.profile-field div{
  outline: none;
  background-color: var(--page-background);
  border-radius: 0.75em;
  padding: 1.8em 0.75em 0.75em;
  border-color: var(--primary-accent);
  color: var(--primary-accent);
  border-style: none;
  font-size: inherit;
  transition: 0.1s;
  width: 100%;
}

.profile-field {
  position: relative;
  font-size: inherit;
  margin-bottom: 1em;
  display: flex;
}


.profile-field input:hover,
.profile-field input:focus {
  border-bottom-width: 2px;
  padding-bottom: calc(0.75em - 1px);
}

.profile-field input:hover {
  border-color: var(--secondary-accent);
}

.profile-field input:focus {
  border-color: var(--secondary-accent);
}

.profile-field label {
  position: absolute;
  top: 1.4em;
  left: 1em;
  pointer-events: none;
  transition: 0.2s;
  color: var(--primary-accent);
}

.profile-field:has(input:focus) label {
  color: var(--primary-accent);
}

.profile-field:has(input:focus) label,
.profile-field:not(:has(input:placeholder-shown)) label {
  top: 0.75em;
  font-size: 0.8em;
}

.profile-field input::placeholder {
  opacity: 0;
  transition: 0.2s;
  color: var(--primary-accent);
}

.profile-field input:focus::placeholder {
  opacity: 1;
}

.submit-btn{
    background-color: var(--secondary-accent);
    padding: 1em 3em;
    border-radius: 1em;
    font-size: 1em;
    margin: 0.25em 0;

}

a{
    text-decoration: none;
    color: #000;
}


.square {
    display: grid;
    grid-template-columns: auto auto auto;
    float:left;
    width: 12%;
    height: 9vh;
    margin:1%;
    background-color:#666;
    overflow:hidden;
}
.month-buttons {
   float: left;
   width: 33%;
   text-align: center;
   margin: auto;
   }
.separate-menu{
   float: auto;
   align :center;
   margin: auto;
    padding-bottom: 2em;
}