<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<head><link rel="stylesheet" href="/css/contacts.css"></head>
<body>
    <div class="main-cont">
        <div class="static-cont">
            <a href="/my-profile" class="personal-cont">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                <div>
                    <h2>Bob Smith</h2>
                    <p>124 Contacts</p>
                </div>
                <span>></span>
            </a>
            <input type="search" placeholder=" 🔍 Search for a contact">
        </div>
        <div th:if="${contacts.size() > 0}" class="results-cont">
            <div class="section" th:with="letters='abcdefghijklmnopqrstuvwxyz'" th:each="num : ${#numbers.sequence(0, 25)}">
                <div class="divider" th:text="${#strings.substring(letters, num, num+1).toUpperCase()}"></div>
                <a class="user-cont" href="" th:each="contact : ${contacts}" th:if="${contact.firstName[0].toLowerCase() == #strings.substring(letters, num, num+1)}">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                    <h3 th:text="${contact.firstName} + ' ' + ${contact.lastName}"></h3>
                    <span>></span>
                </a>
            </div>
        </div>
    </div>
    <div th:replace="~{core/navbar}"></div>
</body>
</html>