<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<head>
    <link rel="stylesheet" href="/css/contacts.css">
    <script src="/js/search.js"></script>
</head>
<body>
    <dialog class="modal" data-modal>
        <h3>Are you sure you want to remove this contact?</h3>
        <form data-modal-form action="#" method="post">
            <button type="submit">Remove Connection</button>
        </form>
        <button data-close-modal>Close</button>
    </dialog>

    <div class="main-cont">
        <div class="static-cont">
            <a href="/profile/me" class="personal-cont">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                <div>
                    <h2>Bob Smith</h2>
                    <p>124 Contacts</p>
                </div>
                <span>></span>
            </a>
            <input id="search-box" type="search" placeholder=" 🔍 Search for a contact">
        </div>
        <div th:if="${contacts}" class="results-cont">
            <div class="section" th:with="letters='abcdefghijklmnopqrstuvwxyz'">
                <div class="section" th:each="num : ${#numbers.sequence(0, 25)}">
                    <div class="divider" th:text="${#strings.substring(letters, num, num+1).toUpperCase()}"></div>
                    <div th:each="contact : ${contacts}" th:if="${contact.lastName != null and contact.lastName.length() > 0 and contact.lastName[0].toLowerCase() == #strings.substring(letters, num, num+1)}">
                        <a class="user-cont" th:href="@{profile/{id}(id=${contact.userId})}">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="Profile Picture">
                            <h3 th:text="${contact?.firstName} + ' ' + ${contact?.lastName}"></h3>
                            <button class="remove-connection" th:onclick="|removeConnectionModal(event, ${contact.userId})|">Remove Connection</button>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{core/navbar}"></div>
</body>
</html>