<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<head>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/addRemoveFavourite.js" defer></script>
    <script src="/js/removeNotification.js" defer></script>
</head>
<body>
    <div th:replace="~{core/navbar}"></div>
    <div th:replace="~{core/header}"></div>

    <section class="homepage-section homepage-notifications-section">
        <h2>Notifications</h2>
        <div th:if="${notifications.size() > 0}" class="homepage-notifications-container">
            <div th:each="notification: ${notifications}" class="notification-card homepage-card">
                <a th:href="${redirectMap[notification.id]}" th:text="${notification.content}" class="notification-card-content"></a>
                <a class="fa-regular fa-circle-xmark notification-remove" th:data-notification-id="${notification.id}"></a>
            </div>
        </div>
        <p th:if="${notifications.size() == 0}" class="homepage-empty-msg">
            No new notifications.
        </p>
    </section>

    <hr class="homepage-line-break">

    <section class="homepage-section homepage-contacts-section">
        <h2>Favourite Contacts</h2>
        <div th:if="${favouriteContacts.size() > 0}" class="homepage-contacts-container">
            <div th:each="contact: ${favouriteContacts}" class="contact-card homepage-card">
                <a th:href="@{/profile/{id}(id=${contact.userId})}"><p th:text="${contact.firstName} + ' ' + ${contact.lastName}"></p></a>
                <a class="fa-solid fa-square-minus contact-remove" th:data-contact-id="${contact.userId}"></a>
            </div>
        </div>
        <p th:if="${favouriteContacts.size() == 0}" class="homepage-empty-msg">
            No favourite contacts.
        </p>
    </section>

    <hr class="homepage-line-break">

    <section class="homepage-section">
        <h2>Upcoming Events</h2>
        <div th:if="${upcomingEvents.size() > 0}" class="homepage-events-container">
            <div th:each="event: ${upcomingEvents}">
                <div class="upcoming-event-card homepage-card">
                    <h3 th:text="${event.title}"></h3>
                    <div class="upcoming-event-details">
                        <div class="upcoming-event-detail">
                            <i class="fa-solid fa-clock"></i>
                            <p th:text="${#temporals.dayOfWeekNameShort(event.date)} + ' ' + ${#temporals.format(event.date, 'dd MMM')} + ' ' + ${event.startTime}"></p>
                        </div>
                        <div class="upcoming-event-detail">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Event location?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p th:if="${upcomingEvents.size() == 0}" class="homepage-empty-msg">
            No upcoming events.
        </p>
    </section>

</body>
</html>
