<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="~{core/head}"></head>
<body>
<div th:replace="~{core/navbar}"></div>
<div class="profile-page">
    <form class="update-profile-container" th:action="@{/userLink/add}" th:object="${userLink}" method="post">
        <div class="profile-fields">
            <div class="profile-field">
                <label for="websiteLinkName">Website name</label>
                <input id="websiteLinkName" type="text" th:field="*{websiteLinkName}" placeholder="Website name"/>
            </div>
            <div class="profile-field">
                <label for="websiteLinkUrl">Website URL</label>
                <input id="websiteLinkUrl" type="text" th:field="*{websiteLinkUrl}" placeholder="Website URL" required/>
            </div>
        </div>
        <button type="submit" class="submit-btn">Add new field</button>
    </form>
</div>
</body>
</html>